In [2]:
import psycopg2

In [5]:
try:
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=junn password=junn")
except psycopg2.Error as e:
    print("Error: Could not make connection to the Postgres dataabase")
    print(e)

In [7]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get a cursor to the DB")
    print("e")

In [8]:
conn.set_session(autocommit=True)

In [9]:
try:
    cur.execute("create database myfirstdb")
except psycopg2.Error as e:
    print(e)

In [10]:
try:
    conn.close()
except psycopg2.Error as e:
    print(e)

In [12]:
try:
    conn = psycopg2.connect("host=localhost dbname=myfirstdb user=junn password=junn")
except psycopg2.Error as e:
    print("Could not establish connection to the myfirstdb")
    print(e)

In [13]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Could not get a cursor to the db")
    print(e)

In [14]:
conn.set_session(autocommit=True)

In [19]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS students (student_id int, name varchar,\
                age int, gender varchar, subject varchar, marks int);")
except psycopg2.Error as e:
    print("Error: Issue occurred while creating table")
    print(e)

In [20]:
try:
    cur.execute("INSERT INTO students (student_id, name, age, gender, subject, marks) \
                VALUES (%s, %s, %s, %s, %s, %s)",  
                (1, "Raj", 23, "Male", "Python", 85))
except psycopg2.Error as e:
    print("Error: while inserting data")
    print(e)

In [21]:
try:
    cur.execute("INSERT INTO students (student_id, name, age, gender, subject, marks) \
                VALUES (%s, %s, %s, %s, %s, %s)",  
                (2, "Priya", 22, "Female", "Python", 86))
except psycopg2.Error as e:
    print("Error: while inserting data")
    print(e)

In [22]:
try:
    cur.execute("SELECT * from students;")
except psycopg2.Error as e:
    print("Error: Select")
    print(e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Raj', 23, 'Male', 'Python', 85)
(2, 'Priya', 22, 'Female', 'Python', 86)

In [24]:
try:
    cur.execute("SELECT * from students;")
except psycopg2.Error as e:
    print("Error: Select")
    print(e)
row = cur.fetchall()
print(row)

[(1, 'Raj', 23, 'Male', 'Python', 85), (2, 'Priya', 22, 'Female', 'Python', 86)]

In [25]:
conn.close()

In [26]:
cur.close()